header {
  background-color: var(--backgound-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 64;
  height: 64;
}

.navegation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--backgound-tertiary-color);
}

nav {
  display: none;
}

.list-link {
  list-style: none;
}
.list-link li {
  margin-top: 16px;
}

.list-link li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
